@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body, .inter-font {
  font-family: 'Inter', sans-serif;
}


.glow {
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.6),
               0 0 10px rgba(255, 255, 255, 0.3);
}


@keyframes fade-slide {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fade-slide 0.3s ease-out;
}





